.container {
    background-color: #e9dcff;
    display: flex;
    flex-direction: column;
    justify-self: stretch;
    align-items: center;
    height: inherit;
    padding: 2rem 8rem;
    height: 100%;
}

.titleContainer {
    background-color: #9664cb;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-self: stretch;
    width: 30rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}
